In [1]:
import yfinance as yf

In [2]:
ticker = yf.Ticker("MSFT")
data = ticker.history()

data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-05-14 00:00:00-04:00,411.278163,416.738316,410.809008,415.809998,15109300,0.00,0.0
2024-05-15 00:00:00-04:00,417.899994,423.809998,417.269989,423.079987,22239500,0.75,0.0
2024-05-16 00:00:00-04:00,421.799988,425.420013,420.350006,420.989990,17530100,0.00,0.0
2024-05-17 00:00:00-04:00,422.540009,422.920013,418.029999,420.209991,15352200,0.00,0.0
2024-05-20 00:00:00-04:00,420.209991,426.769989,419.989990,425.339996,16272100,0.00,0.0
2024-05-21 00:00:00-04:00,426.829987,432.970001,424.850006,429.040009,21453300,0.00,0.0
2024-05-22 00:00:00-04:00,430.089996,432.410004,427.130005,430.519989,18073700,0.00,0.0
2024-05-23 00:00:00-04:00,432.970001,433.600006,425.420013,427.000000,17211700,0.00,0.0
2024-05-24 00:00:00-04:00,427.190002,431.059998,424.410004,430.160004,11845800,0.00,0.0
2024-05-28 00:00:00-04:00,429.630005,430.820007,426.600006,430.320007,15718000,0.00,0.0
2024-05-29 00:00:00-04:00,425.690002,430.940002,425.690002,429.170013,15517100,0.00,0.0
2024-05-30 00:00:00-04:00,424.299988,424.299988,414.239990,414.670013,28424800,0.00,0.0
2024-05-31 00:00:00-04:00,416.750000,416.750000,404.510010,415.130005,47995300,0.00,0.0
2024-06-03 00:00:00-04:00,415.529999,416.429993,408.920013,413.519989,17484700,0.00,0.0
2024-06-04 00:00:00-04:00,412.429993,416.440002,409.679993,416.070007,14348900,0.00,0.0
2024-06-05 00:00:00-04:00,417.809998,424.079987,416.299988,424.010010,16988000,0.00,0.0
2024-06-06 00:00:00-04:00,424.010010,425.309998,420.579987,424.519989,14861300,0.00,0.0
2024-06-07 00:00:00-04:00,426.200012,426.279999,423.000000,423.850006,13621700,0.00,0.0
2024-06-10 00:00:00-04:00,424.700012,428.079987,423.890015,427.869995,14003000,0.00,0.0
2024-06-11 00:00:00-04:00,425.480011,432.820007,425.250000,432.679993,14551100,0.00,0.0
2024-06-12 00:00:00-04:00,435.320007,443.399994,433.250000,441.059998,22366200,0.00,0.0
2024-06-13 00:00:00-04:00,440.850006,443.390015,439.369995,441.579987,15895700,0.00,0.0